
    @import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --primary-color: #12472c;
}

* {
    box-sizing: Zborder-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

h1 {
    font-weight: 1000;
    font-size: 50px;
    line-height: 1.2;
    margin-bottom: 15px
}

h3 {
    font-weight: 300;
    font-size: 30px; 
}

.showcase {
    color: rgb(255, 255, 255);
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0px 20px
     

}

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* background: var(--primary-color) url('./cover.jpg') no-repeat center
    center/cover; */
}

.video-container:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
}

.video-container video {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    /* web page is responsive */
    position: absolute;
    /* to center the text */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content {
    z-index: 10;
}

.btn {
    display: inline-block;
    padding: 10px 30px;
    background: var(--primary-color);
    color: #fff;
    border: 3px var(--primary-color) solid;
    border-radius: 30px;
    margin-top: 25px;
    opacity: 0.7;
}

.btn:hover {
    transform: scale(.90)
}

.btn2 {
    display: inline-block;
    padding: 10px 30px;
    background: var(--primary-color);
    color: #fff;
    border: 1px #fff solid;
    border-radius: 60px;
    margin-bottom: 10px;
    opacity: 0.7;
}


.btn2:hover {
    transform: scale(.90)
}

#about {
    padding-top: 40px;
    padding-bottom: px;
    padding-left: 60px;
    padding-right: 60px;
    text-align: center;
}

#about2 {
    padding-top: 50px;
    padding-bottom: 20px;
    padding-left: 60px;
    padding-right: 60px;
    text-align: left;
}

#about2-3 {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 60px;
    padding-right: 60px;
    text-align: left;
}

#about3 {
    padding-top: 10x;
    padding-bottom: 10px;
    padding-left: 60px;
    padding-right: 5px;
    text-align: left;
}

#about4 {
    padding-top: 10x;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 60px;
    text-align: left;
}

#emgpenting2 {
    text-align: center;
    padding-top: 80px;
}

#sub-emgpenting {
    text-align: center;
}

p.groove {
    /* border-style: solid; */
    display: flex;
    border-radius: 30px 30px;
    padding: 20px;
    outline: 2px;
    background-color: whitesmoke
    /* outline-color: whitesmoke */
}

  
  .menu-group {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5em;
    padding: 1.5em 0;
  }
  
  .menu-item {
    display: flex;
    border-radius: 30px 30px;
    padding: 20px;
    outline: auto;
    outline-color: whitesmoke
  }
  
  .menu-item-image {
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    object-fit: cover;
    margin-right: 1.5em;
  }
  
  .menu-item-name {
    margin-right: 1.5em;
  }

  
  @media screen and (min-width: 992px) {
    .menu {
      font-size: 16px;
    }
  
    .menu-group {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .menu-item-image {
      width: 125px;
      height: 125px;
    }
  }

  

